.obraz{
  shape-image-threshold: initial;
  height: 350px !important;
  width: 100% !important;
}
body{
    background-color: rgb(55, 144, 196) !important;
}
.pozadi{
    background-color: white;
}
.col-centered{
    float: none;
    margin: 0 auto;
    }

.col-left{
    margin-top: 25px !important;
    float: left;
    margin: 0 auto;
}
.col-right{
    float: right;
    margin: 0 auto;
}
#googleMap{
    float: right;
    margin: 0 auto;
    width:100%;
    height:400px;
}
h1{
    font-weight: bold;
    color: yellow;
    text-align: center;
    font-family: sans-serif; 
}
#leftbg {
    position: absolute;
}
#footer{
    background-color: brown;
    color: white;
}
.button{
background-color: rgb(55, 144, 196);
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1{
    background-color: rgb(184, 104, 104);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

#cas{
    color: white;
    font-weight: bold;
}
